* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 95%); 
    display: flex;
    min-height: 100vh;
    padding: 40px 20px;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif; 
    font-size: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 920px;
    border-radius: 10px;
    overflow: hidden; 
    width: 100%;
}

.card {
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
}

.card p {
    line-height: 1.6;
    color: hsla(0, 0%, 100%, 0.75);
}

.card button {
    background-color: hsl(0, 0%, 95%);
    border: none;
    padding: 12px 28px;
    border-radius: 30px;
    cursor: pointer;
    font-family: inherit;
    font-size: 15px;
    margin-top: 15px; 
    width: fit-content; 
}

.card-sedans {
    background-color: hsl(31, 77%, 52%); 
}

.card-suvs {
    background-color: hsl(184, 100%, 22%); 
}

.card-luxury {
    background-color: hsl(179, 100%, 13%); 
}

.card-sedans button {
    color: hsl(31, 77%, 52%);
}

.card-suvs button {
    color: hsl(184, 100%, 22%);
}

.card-luxury button {
    color: hsl(179, 100%, 13%);
}

@media (min-width: 768px) {
    .container {
        flex-direction: row; 
    }

    .card {
         flex: 1;
    }
}

