* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 300;
}

body {
  background-color: #141414;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: 300;
}

.card {
  background-color: #1f1f1f;
  padding: 30px 25px;
  border-radius: 10px;
  text-align: center;
  width: 320px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  font-weight: 300;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

.location {
  color: #c5f82a;
  font-size: 14px;
  margin-bottom: 10px;
}

.bio {
  font-size: 13px;
  color: #aaa;
  margin-bottom: 20px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #c5f82a;
  color: #000;
}