* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000; 
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 1.5em;
    color: #FFFFFF;
    background-color: #161430;
    width: 90%;
    max-width: 400px;
    overflow: hidden;
}

.mobile img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    filter: sepia(100%) hue-rotate(240deg) saturate(300%) opacity(0.6);
    transition: all 0.3s ease-in-out;
}

.mobile img:hover {
    filter: grayscale(0%);
    opacity: 1;
}

.whole {
    width: 100%;
    height: 500px;
    align-self: center;
    background-color: #1b1937;
    margin-top: -27px;
    padding-top: 15px;
    margin-bottom: -64px;
}

.business {
    font-size: small;
}

.business h1 {
    font-size: 1.5rem;
    line-height: 1.2em;
}

.business span {
    color: #aa5cdb;
}

.efficiency {
    color: rgba(255, 255, 255, 0.75); 
    line-height: 1.3em;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.9;
}

.explanation, .temp-text, .footer-text {
    line-height: 1em;
    margin-top: 15px;
}

.explanation h1, .temp-text h1, .footer-text h1 {
    font-size: 1.5rem;
}

.explanation span, .temp-text span, .footer-text span {
    color: rgba(255, 255, 255, 0.6);
    font-size: smaller;
    text-transform: uppercase;
    letter-spacing: 1px;
}

