* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
}

body {
  background-color: #f3e5d8;
  display: block;
  justify-content: center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.recipe-card {
  background-color: #fff;
  width: 600px;
  border-radius: 15px;
  padding: 25px;
  margin: 0 auto;
}

.recipe-img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #2d2d2d;
}

.intro {
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.prep-time {
  background-color: #fff7fc;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.prep-time h2 {
  color: #7b284f;
  font-size: 18px;
  margin-bottom: 10px;
}

ul, ol {
  margin-left: 20px;
  color: #333;
  line-height: 1.6;
}

.ingredients, .instructions, .nutrition {
  margin-bottom: 25px;
}

h2 {
  color: #7b284f;
  font-size: 20px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

td {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  color: #444;
}

.value {
  color: #7b284f;
  font-weight: bold;
  text-align: right;
}