* {
    background-color: gray;
}

.box-test {
    width: 300px;
    height: 300px;
    background-color: lightblue;
    margin: 20px;
    border: 3px solid black;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

button {
    padding: 8px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    background-color: green;
    color: white;
    border: 2px solid darkgreen;
}

.image-style {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}