/* --- Global Resets & Typography --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 54%, 90%);
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.main-wrapper {
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.product-img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    flex: 1;
}

h1 {
    font-family: "Fraunces", serif;
    color: hsl(212, 21%, 14%); 
    font-size: 2em;
    line-height: 1;
}

h5 {
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
}

p {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-price {
    font-family: "Fraunces", serif;
    font-size: 2.2em;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
}

.old-price {
    text-decoration: line-through;
    font-size: 0.9em;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(158, 36%, 37%);
    padding: 15px 5px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    gap: 10px;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 0.9em;
    transition: background-color 0.2s ease;
}

.footer:hover {
    background-color: hsl(158, 36%, 20%);
}

@media (max-width: 600px) {
    .main-wrapper {
        flex-direction: column; 
        max-width: 350px; 
    }

    .container {
        gap: 15px;
        padding: 24px;
    }

    .product-img img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
}
