* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-spacing: -100px;
    margin: 20px;
    color: white;
    height: 55vh;
}

.container{
    width: 100%;
    min-height: 330px;
    background: #1b1937;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container h2{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 12px;
    padding-left: 18px;
}

.container span{
    color: hsl(277, 64%, 61%);
}

.container h6{
    color: hsl(233, 47%, 87%);
    line-height: 1.9em;
    font-family: "Lexend Deca", sans-serif;
    margin-bottom: 30px;
}

.container h6 span {
    display: block;
    padding-left: 18px;
    color: hsla(0, 0%, 100%, 0.6);
}

.container h1{
    font-size: large;
    padding-left: 18px;
    
}

.footer {
    color: white;
    font-family: "Lexend Deca", sans-serif;
}

.footer h1 {
  display: flex;
  gap: 65px;
  justify-content: left;
  margin-bottom: 1px; 
}

.footer h6{
    display: flex;
    gap: 20px;
    justify-content: left;
    margin-bottom: 10px; 
    font-size: small;   
}

.footer h1 span{
    color: white;
}

.footer h6 span {
    color: hsla(0, 0%, 100%, 0.6);
}

.mobile img{
    width: 100%;
    min-height: 328px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    filter: sepia(100%) hue-rotate(240deg) saturate(300%) opacity(0.6);
    margin-right: 50px;
    justify-content: center;
    background-size: cover;
}

.mobile img:hover{
    filter: grayscale(0%);
    opacity: 1;
}

@media (max-width: 768px) {
  .container h2 {
    font-size: 24px;
  }
  .container h6 {
    line-height: 1.5em;
  }
}

