* {
  font-family: "Red Hat Display", sans-serif;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin: 30px 15px;
  background: #add8e6;
  color: hsl(224, 23%, 55%);
}

.card-wrapper {
  max-width: 400px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.container img {
  width: 100%;
  height: 200px;
  display: block;
}

.bottom-container {
  padding: 20px;
  text-align: center;
}

.summary h2 {
  color: hsl(223, 47%, 23%); 
}

.summary span {
    line-height: 1.5;
}

.explain-text {
  background-color: hsl(225, 100%, 98%);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.explain-text img {
  margin-right: 15px;
  height: 40px;
}

.plan-details {
    display: flex;
    flex-direction: column;
    text-align: left; 
    flex-grow: 1;
}

.explain-text h3, .explain-text h6 {
    margin: 0;
    color: hsl(223, 47%, 23%);
}

.change-link { 
  cursor: pointer;
  text-decoration: underline;
  color: hsl(245, 75%, 52%);
  font-weight: bold;
  font-size: 0.9rem;
}

.change-link:hover {
    opacity: 0.7;
}

.footer {
    margin-top: 25px;
}

.footer h5 {
    cursor: pointer;
    color: white;
    font-weight: 800;
    font-size: 1.2em;
    transition: color 0.3s ease;
    background-color: blue;
    border-radius: 10px;
    padding: 15px;
}

.footer h5:hover {
    color: hsl(223, 47%, 23%); 
}

.footer h6 {
    font-size: 1.2em;
    margin-top: -15px;
}
